:root {
  --S: 0px;
  --purple: #4c2e4d;

  --btnTutorial: 20%;
  --btnLeft: 35%;
  --btnMid: 50%;
  --btnRight: 65%;
  --btnCredits: 90%;

  --btnClass1: 20%;
  --btnClass2: 40%;
  --btnClass3: 60%;

  --btnHeight: 80%;
}

#titleText {
  src: url("bilder/ui/Logo.png");
  display: block;
  position: fixed;
  margin-left: auto;
  margin-right: auto;

  width: calc(var(--S) * 200);
  height: calc(var(--S) * 200);

  transform: translate(-50%, 0);
  position: absolute;

  left: 50%;
  top: -20%;
}

@font-face {
  font-family: "FR73 Pixel";
  src: url("FR73\ Pixel\ W00\ Regular.ttf");
}

@font-face {
  font-family: "iFlash 705";
  src: url("iFlash\ 705.ttf");
}

body {
  background: black;
  margin: 0px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  /* image-rendering: optimize-contrast; */
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  font-family: "Press Start 2P", cursive;

  image-rendering: optimizeSpeed;
  -ms-interpolation-mode: nearest-neighbor;
}

#titleScreen {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translateX(-50%);
  background-image: url("bilder/bootupScreen.png");
  /* url("bilder/ui/titleScreen2.png"); */
  background-size: cover;
  display: block;
}

#host_code {
  font-size: calc(var(--S) * 25);
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  display: none;

  top: 50%;
  left: 50%;
}

#lobby_input {
  padding: calc(var(--S) * 2);
  letter-spacing: calc(var(--S) * 5);
  font-size: calc(var(--S) * 15);
  width: calc(var(--S) * 80);

  top: 50%;
  left: 50%;
}

#username_input {
  padding: calc(var(--S) * 2);
  letter-spacing: calc(var(--S) * 0);
  font-size: calc(var(--S) * 8);
  width: calc(var(--S) * 80);

  top: 35%;
  left: 50%;
}

.input {
  background: none;
  color: white;
  border-radius: 0;
  display: none;

  font-family: "Press Start 2P", cursive;
  text-align: center;
  border: calc(var(--S) * 2) solid white;
  border-style: solid;

  position: absolute;
  transform: translate(-50%, -50%);
}

.player_setup {
  position: absolute;
  width: 20%;
  height: 100%;
  display: inline-block;
  color: white;
}

#player_setup_red {
  transform: translate(-0%, -100%);
  right: 0;
  background-color: rgba(155, 0, 0, 0.5);
  border-left: calc(var(--S) * 1) solid rgba(107, 0, 0, 1);
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
  border-style: solid;
}

#player_setup_blue {
  transform: translate(-0%, -100%);
  left: 0;
  background-color: rgba(35, 67, 127, 0.5);
  border-right: calc(var(--S) * 1) solid rgba(11, 27, 51, 1);
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
}

.button {
  display: inline-block none;
  background-size: cover;
  cursor: pointer;
  color: transparent;
  transform: translate(-50%, -50%);
  position: absolute;
  height: calc(var(--S) * 30);
  width: calc(var(--S) * 30);
}

.title {
  visibility: hidden;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.button>span {
  display: inline-block;
  vertical-align: middle;
  margin-top: 100%;
}

#button_back {
  left: var(--btnMid);
  top: var(--btnHeight);
  display: none;
  background-image: url("bilder/ui/backButton.png");
}

#button_back:hover {
  background-image: url("bilder/ui/backButtonDown.png");
}

#kingdom_button_0 {
  left: var(--btnMid);
  top: var(--btnClass1);
  display: none;
  background-image: url("bilder/sprites/soldier_blue2.png");
}

#kingdom_button_0:hover {
  background-image: url("bilder/sprites/soldier_blue2.png");
}

#viking_button_0 {
  left: var(--btnMid);
  top: var(--btnClass2);
  display: none;
  background-image: url("bilder/sprites/viking_blue.png");
}

#viking_button_0:hover {
  background-image: url("bilder/sprites/viking_blue.png");
}

#kingdom_button_1 {
  left: var(--btnMid);
  top: var(--btnClass1);
  display: none;
  background-image: url("bilder/sprites/soldier2.png");
  /* background-position: 128px 0; */
}

#kingdom_button_1:hover {

  background-image: url("bilder/sprites/soldier2.png");
}


#viking_button_1 {
  left: var(--btnMid);
  top: var(--btnClass2);
  display: none;
  background-image: url("bilder/sprites/viking.png");
}

#viking_button_1:hover {
  background-image: url("bilder/sprites/viking.png");
}

.selected_clan_0 {
  background-color: rgba(255, 255, 255, 0.1);
}

.selected_clan_1 {
  background-color: rgba(255, 255, 255, 0.1);
}

#button_start {
  left: var(--btnRight);
  top: var(--btnHeight);
  display: none;
  background-image: url("bilder/ui/singleplayer.png");
}

#button_start:hover {
  background-image: url("bilder/ui/singleplayerDown.png");
}

#creditsButton {
  left: var(--btnCredits);
  top: var(--btnHeight);
  background-image: url("bilder/ui/creditsButton.png");
}

#creditsButton:hover {
  background-image: url("bilder/ui/creditsButtonDown.png");
}

#button1 {
  left: var(--btnLeft);
  top: var(--btnHeight);
  background-image: url("bilder/ui/singleplayer.png");
}

#button1:hover {
  background-image: url("bilder/ui/singleplayerDown.png");
}

#button2 {
  left: var(--btnMid);
  top: var(--btnHeight);
  background-image: url("bilder/ui/hostMultiplayer.png");
}

#button2:hover {
  background-image: url("bilder/ui/hostMultiplayerDown.png");
}

#button3 {
  left: var(--btnRight);
  top: var(--btnHeight);
  background-image: url("bilder/ui/joinMultiplayer.png");
}

#button3:hover {
  background-image: url("bilder/ui/joinMultiplayerDown.png");
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#popup {
  z-index: 20;
  width: 500px;
  height: 400px;
  background: #e5c17e;
  border: 5px solid #cc5d29;
  color: #2e2a46;
  visibility: hidden;
}

#popupTitle {
  width: 100%;
  padding: 10px;
  font-size: 30px;
  color: #2e2a46;
  line-height: 30px;
}

#popupData {
  overflow-x: hidden;
  overflow-y: auto;
  width: 480px;
  font-size: 13px;
  height: 320px;
  padding: 10px;
}

#popupCloseButton {
  position: relative;
  width: 50px;
  height: 50px;
  background: #641f1f;
  float: right;
  font-size: 40px;
  padding-top: 8px;
  line-height: 40px;
  padding-left: 5px;
  cursor: pointer;
}

#bootupText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  visibility: visible;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  60% {
    opacity: 0.2;
  }
}

.navbar {
  z-index: 10;
  width: 100%;
  height: 5%;
  background: #195448;
  margin-top: 10.2%;
}

img {
  -webkit-animation: mover 4.89795918367346938s infinite normal;
  animation: mover 4.89795918367346938s infinite normal;
  animation-delay: 0.25s;
}

@-webkit-keyframes mover {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, -2%);
  }
}

@keyframes mover {
  0% {
    transform: translate(-50%, 0);
  }

  5% {
    transform: translate(-50%, -1%);
  }

  25% {
    transform: translate(-50%, -1%);
  }

  30% {
    transform: translate(-50%, -2%);
  }

  50% {
    transform: translate(-50%, -2%);
  }

  55% {
    transform: translate(-50%, -1%);
  }

  75% {
    transform: translate(-50%, -1%);
  }

  80% {
    transform: translate(-50%, 0%);
  }
}