canvas {
    background-image: url('bilder/background.png');
    background-size: cover;
    display: block;
}

body {
    background: black;
    margin: 0px;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    font-family: 'Press Start 2P', cursive;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#titleScreen {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    background-image: url('bilder/ui/titleScreen.png');
    background-size: cover;
    display: block;
}


.buttonContainer {
    width: 90%;
    height: 20%;
    margin-top: 32%;
}

.button {
    display: inline-block;
    width: 12.8%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-size: cover;
    cursor: pointer;
    vertical-align: center;
    color: transparent;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

#button1 {
    background-image: url('bilder/ui/singleplayerButton.png');
}

#button1:active {
    background-image: url('bilder/ui/singleplayerActiveButton.png');
}