canvas {
  /* background-image: url('bilder/background_1_dusk.png'); */
  background-size: cover;
  display: block;
}

.bg-day {
  background-image: url("bilder/background_1_day.png");
  opacity: 1;
  z-index: -1;
}

.bg-dusk {
  background-image: url("bilder/background_1_dusk.png");
  opacity: 1;
  z-index: -1;
}

.bg-night {
  background-image: url("bilder/background_1_night.png");
  /* opacity: 0.5; */
}

.bg-any {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translateX(-50%);
  background-size: cover;
  display: block;
}

#bg2 {
  z-index: -2;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translateX(-50%);
  /* background-image: url('bilder/background_1_day.png'); */
  background-size: cover;
  display: block;
}

#bg1 {
  z-index: -2;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translateX(-50%);
  /* background-image: url('bilder/background_1_day.png'); */
  background-size: cover;
  display: block;
}

#background1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translateX(-50%);
  background-size: cover;
  display: block;
}

#background2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translateX(-50%);
  background-size: cover;
  display: block;
}

/* img {
    -webkit-animation: mover 0.2s infinite normal;
    animation: mover 4.89795918367346938s infinite normal;
    animation-delay: 0.25s;
}

@-webkit-keyframes mover {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, -2%);
    }
} */
