canvas {
    /* background-image: url('bilder/background_1_dusk.png'); */
    background-size: cover;
    display: block;

}


.bg-day {
    background-image: url('bilder/background_1_day.png');
    opacity: 1;
    z-index: -1;
}

.bg-dusk {
    background-image: url('bilder/background_1_dusk.png');
    opacity: 1;
    z-index: -1;
}

.bg-night {
    background-image: url('bilder/background_1_night.png');
    /* opacity: 0.5; */
}

.bg-any {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    /* background-image: url('bilder/ui/titleScreen.png'); */
    background-size: cover;
    display: block;
}

#bg2 {
    z-index: -2;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    /* background-image: url('bilder/background_1_day.png'); */
    background-size: cover;
    display: block;
}

#bg1 {
    z-index: -2;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    /* background-image: url('bilder/background_1_day.png'); */
    background-size: cover;
    display: block;
}

#background1 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    background-size: cover;
    display: block;
}

#background2 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    background-size: cover;
    display: block;
}